*{
  font-family: 'Space Grotesk', sans-serif;
}

body,html{scroll-behavior: smooth;}

body{padding:4rem 0 0}
body ul{padding:2rem}

li{position:relative;}

li.current:after{
  content:"THIS WEEK'S EPISODE";
  display:inline-block;
  position:absolute;
  top:0;
  left:0;
  background:#2563eb;
  color:#fff;
  font-weight:bold;
  padding:.35rem .75rem;
  border-bottom-right-radius: .5rem;
  letter-spacing: .075rem;
}