*{
  font-family: 'Inter', sans-serif;
}

body{padding:4rem 2rem}
body ul{padding:2rem}

li{position:relative;}

li.current:after{
  content:"THIS WEEK";
  display:inline-block;
  position:absolute;
  top:2rem;
  left:-2rem;
  background:rgb(34 197 94);
  color:#fff;
  font-weight:bold;
  padding:.5rem 1rem;
}